.wrapper {
    width: 430px;
    padding: 30px;
    border-radius: 3px;
    margin-left: 35%;
}

.wrapper form {
    height: 167px;
    border: 2px dashed #C5D1DE;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
    cursor: pointer;
}

form:where(i, p) {
    color: #4D525B;
}

form i {
    font-size: 50px;
    /* color: #4D525B; */
    color: #C5D1DE;
}

form p {
    font-size: 16px;
    margin-top: 15px;
    /* color: #4D525B; */
    color: #C5D1DE;
}

section .row {
    /* background-color: #333333; */
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    display: flex;
    border: 1px solid #2D333B;
    border-radius: 3px;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    font-size: 18px;
    color: #C5D1DE;
}

section .details span {
    font-size: 14px;
    color: #C5D1DE;
    text-decoration: none;
}

.progress-area .row .content {
    width: 100%;
    margin-left: 15px;
}

.progress-area .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.progress-area .progress-bar {
    height: 6px;
    width: 100%;
    background: #333;
    margin-bottom: 4px;
    border-radius: 30px; 
}

.progress-bar .progress {
    height: 100%;
    background: #C5D1DE;
    border-radius: inherit;
}

.uploaded-area {
    max-height: 150px;
    overflow-y: scroll;
}

.uploaded-area .row .content {
    display: flex;
    align-items: center;
}

.uploaded-area .row .details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .details .size {
    font-size: 11px;
    color: #4D525B;
}

.uploaded-area .fa-check {
    font-size: 16px;
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
        margin: 0;
    }
}
