{{ template "root" . }}

{{ define "title" }}<title>{{ .title }}</title>{{ end }}
{{ define "style" }}<link rel="stylesheet" href="/static/css/user.css">  {{ end }}
{{ define "body" }}
    <div class="wrapper">
        <form action="">
            <input type="file" class="file-input" name="file" hidden>
            <i class="fas fa-cloud-upload-alt"></i>
            <p>Browse files to upload</p>
        </form>
        <section class="progress-area"></section>
        <section class="uploaded-area"></section>
    </div>
    <script src="/static/js/user.js"></script>
{{ end }}
