{{ template "root" . }}

{{ define "title" }}<title>{{ .title }}</title>{{ end }}
{{ define "style" }}<link rel="stylesheet" href="/static/css/user.css">{{ end }}
{{ define "body" }}
    <div class="user-menu">
        
    </div>
    <div class="wrapper">
        {{ if .logged }}
        <form action="">
            <input type="file" class="file-input" name="file" hidden>
            <i class="fas fa-cloud-upload-alt"></i>
            <p>Browse files to upload</p>
        </form>
        <section class="progress-area"></section>
        <section class="uploaded-area">
            {{ range .files }}
            <li class="row">
                <i class="fas fa-file-alt"></i>
                <div class="content">
                    <div class="details">
                        <span class="name">{{ .Filename }} * Uploaded</span>
                        <span class="size">{{ .StrSize }}</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress"></div>
                    </div>
                </div>
                <a href="{{ .Link }}"><i class="fas fa-download"></i></a>
            </li>
            {{ end }}
        </section>
        {{ else }}
            <h1>You are not logged</h1>
            <p>Click <a href="/">here</a> and go to login page</p>
        {{ end }}
    </div>
    <script src="/static/js/user.js"></script>
{{ end }}
