{{ template "root" . }}

{{ define "title" }}<title>{{ .title }}</title>{{ end }}
{{ define "style" }}
    
{{ end }}
{{ define "body" }}
    <div class="wrapper">
        <form action="">
            <i class="fas fa-cloud-upload-alt"></i>
        </form>
        <section class="progress-area">
            <li class="row">
                <i class="fas fa-file-alt"></i>
                <div class="content"></div>
                <div class="details"></div>
            </li>
        </section>
        <section class="uploaded-area"></section>
    </div>
{{ end }}
